node_modules

# Ignorar imágenes de productos subidas por usuarios
/public/uploads/productos/*
!/public/uploads/productos/.gitkeep
src/config.js

src/logs/combined.log
src/logs/error.log
src/logs/*.log